.banner{
    background-image: url("../assets/img/fondo.webp");
    padding: 25%;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

.banner::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}